* {
	box-sizing: border-box;
}

html, body  {
	margin: 0;
	width: 100%;
	height: 100%;
	background: black;
}

nav {
  margin: 0;
  padding: 0;
  background-color: #282E34;
 /*----- um die Navigation oben fix zu halten  man muss aber ausserdem in den Mediaquerries dann auch noch position:         static machen bei der Navigation!--------------- */
  /*position: fixed;
  z-index: 99999;
  width: 100%;*/
}

#logo {	
  padding: 0 30px;
  font-size: 200%;
  line-height: 60px;
  color: #FFF;
  font-family: 'Dancing Script', cursive;
  float: right;
}

[id^=drop] /* Selektiert jede ID, welche mit "drop" beginnt  alle Checkboxen bei der Navigation werden nicht angezeigt. Auch nicht bei Iphone & Ipads*/ {
 display: none;
}

nav:after /*Inserts something after the navigation*/ {
  content: ""; /*Setzt nach der Navigation einen leeren String. Macht, dass Navigation ganze Breite annimmt. Ausserdem                  wird dadurch die Höhe genau auf 0 gesetzt, wie wenn man Margin auf 0 setzen würde.*/
  display: table; /*Macht, dass Navigation ganze Breite annimmt. Vewandelt alles nach der Navigation (= leerer String)                  als Tabelle*/
  clear: both; /*No floating elements allowed on either the left or the right side. Macht, dass Navigation ganze Breite                 annimmt.Würde auch mit clear: left funktionieren...*/
}

nav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative; /*Jedes Untermenü geht an die Stelle, zu welchem Übermenü es gehört.*/
}

nav ul li {
  margin: 0px;
  display: inline-block; /*Würde auch mit display:block funktionieren.*/
  float: left;
  background-color: #282E34;
}

nav a {
  display: block;
  padding: 0 20px;
  color: #FFF;
  font-size: 20px;
  line-height: 60px; /*Setzt die Grösse um den <a>-Link herum*/
  text-decoration: none;
}

nav ul ul {
  display: none; /*Macht, dass beide Sub-Menüs verschwinden*/
  position: absolute;
  top: 60px;
}

nav ul li:hover > ul {
	display: inherit; /*Inherits the display: inline-block property from its parent element, which is the first <ul>                        <li>. Es ist sehr wichtig li:hover zu schreiben, damit der Browser weiss, dass er das zweite                        Untermenü nur dann sichtbar machen soll, wenn man mit der Maus drüber fährt!*/
}

nav ul ul li {
  width: 220px;
  float: none;
  display: list-item;
  z-index: 10;  
  position: relative;
}

nav ul ul ul li {
  position: relative; /*Muss nicht stehen, geht auch ohne*/
  top: -60px;
  left: 220px;
  text-align: center;
}

li > a:after { content: ' +'; 
} /*Selects all <a> elements where the parent is a <li> element and adds a string +. */

li > a:only-child:after { content: ''; } /*Wenn <a>-Tag das only-child ist in einem <li>-Tag, dann wird nur ein leerer                                           String eingefügt. Durch diesen Befehl geht man sicher, dass nur ein +-string                                           steht, wo es ein Sub-Menü gibt. */

/* unvisited link */
a:link {
	color: #FFF;
}

/* visited link */
a:visited {
	color: #FFF;
}

/* mouse over link */
a:hover {
	color: #FFF;
}

/* selected link */
a:active {
	color: #FFF;
}

/*Für Bilder*/
img {
	width: 100%; /*Muss man setzen, sonst zoomt das Bild stark heran xD*/
	height: auto;
}

/*------ Index -----*/

.container {
	position: relative;
    color: #000;
}

.centered {
	background-color: rgba(204,204,204, 0.65);
    padding: 15px;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    color: #000;
}

section.white-section {
	text-align: center;
	padding: 90px 80px;
	background-color: white;
}

section.white-section h1 /*Index-page*/ {
	border-color: #000;
	border-style: solid;
	border-left: thick;
	border-right: thick;
	padding: 20px 10px;
}

section.white-section h2 {
	font-size: 22px;
}

section.white-section p {
	font-size: 20px;
	margin-top: 38px;
}

.wrap-three {
	display: flex;
	justify-content: space-between;
}

.wrap-five /*special for ungerade Produkt-Anzahl*/ {
	display: flex;
    justify-content: space-evenly;
}

.responsive /*Section First Abstand Bilder-Gallery*/{
    margin-top: 55px;
}

.gallery {
	border: 1px solid #ccc;
}

div.gallery:hover {
    border: 3px solid #777;
}

div.gallery:hover h2{
	text-decoration: underline;
}

div.gallery a /*Need this, otherwise whole text becomes white because of <a>-tag...*/ {
  display: block;
  color: #000;
  text-decoration: none;
}

.descr{
    padding: 15px;
    text-align: center;
    background-color: #999;
}

div.descr p /*Kleiner Text in der Bildergallerie*/ {
	font-size: 1.15em;
}

/*------- Produkte ----------*/

.main-container {
	position: relative;
}

.main-container .flex-wrap:nth-child(odd) {
	display: flex;
	flex-direction: row;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}

.main-container .flex-wrap:nth-child(even) {
	display: flex;
	flex-direction: row-reverse;
	-webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
}

.main-container .plain-text p /*braucht man, sonst überschreibt <p>-CSS regel 'center' den text-align left...*/ {
	text-align: left;
}

.article-container {
	padding-top: 0;
    padding-bottom: 0;
	margin-top: 0;
}

.article-container:before {
	display: table;
    content: " ";
}

.image-flex {
	background-size: cover;
    background-position: center;
    min-height: 400px;
	position: relative;
    height: 100%;
	width:50%;
	display: flex;
}

.image-flex:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}

.wrap-content {
	display: flex;
	background-color: #fff;
    color: #1e2423;
	width: 50%;
}

.wrap-content:after {
	content: "";
    display: block;
    padding-bottom: 100%;
}

.drin {
	display: flex;
	align-items: center;
    min-height: 100%;
    width: 100%;
	padding: 5% 20%;
}

.drin-content {
	padding-right: 10px;
    overflow-y: auto;
    max-height: 100%;
}

.plain-text {
	margin-top: 40px;
    line-height: 25px;
}

.main-container .plain-text p /*braucht man, sonst überschreibt <p>-CSS regel 'center' den text-align left...*/ {
	text-align: left;
}
/*----End Optimize---*/

.products {
	background-color: white;
}

.products-h1 {
	padding: 10px 10px;
    border-bottom-style: ridge;
}

.wrap-products {
	flex-wrap: wrap;
}

.product-footer {
	margin-top: 3%;
}

.product-article {
	width: 100%;
	color: black;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	display: flex;
}

.text-wrap {
}

.article-h1 {
	padding: 10px 10px;
    border-bottom-style: ridge;
}

.p-wrap {
	display: flex;
	justify-content: space-evenly;
	text-align: justify;
}

.p-wrap > div {
	padding: 10px 20px;
}

.special {
    padding: 20px 10px;
}

.highlight /*h3*/ {
	border-color: #000;
	border-style: solid;
	border-left: thick;
	border-right: thick;
	color: black;
	padding: 20px 10px;
	text-align: center;
	/*for font-size see media-queries*/
}

.botschaft {
    border-color: #FFF;
    border-style: solid;
    border-left: thick;
    border-right: thick;
    padding: 20px 10px;
    margin: 5%;
    color: #FFF;
}

/*--Grande Utopia---*/

/* Dies ist der <div> Tag, welcher mitten im Bild steht und absolut positioniert ist! */ 
.centeredGrande{
	background-color: rgba(204,204,204, 0.65); /*0.6 ist die Durchsichtigkeit des grauen Hintergrundes*/
	padding: 15px;
	border-radius: 10px; /* Abgerundete Ecken*/
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	text-align: center;
}

section.first {
	text-align: center;
	background-color: black;
	color: white;
}

/*--Counter mit Zahlen--*/

#globalcount {
	overflow: hidden;
	text-transform: uppercase;
	border: #FFF;
	border-style: solid;
	margin-top: 5%;
	padding: 10px;
}

#globalcount h3 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-top: 30px;	
}

.count-wrap {
	display: flex;
	justify-content: space-around;
}

#designcount {
  width: 275px;
  opacity: 0.7;
  float:left;
}

.count
{
  line-height: 100px;
  color:white;
  font-size:3em;
  color: #e81413;
}

.titel {
	text-align: center;
    color: white;
	border-bottom-style: ridge;
	margin-top: -7%;
}

/*--- "Mehr erfahren" Box---*/

.mehr-wrap {
	display: flex;
	flex-direction: column;
	align-items: center; /*sehr wichtig: wenn man flex-dicetion: column macht, dann muss man die Elemente über flex-direction zentrieren und nicht über justify-content!!*/
}

.accordion-utopia {
	color: red;
	background-color: transparent;
    cursor: pointer;
    padding: 8px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: all 0.3s;
	margin: 2%; /*Um Button ein wenig weiter runter zu bringen.*/
	display: flex;
}

/*--Arrows go up & down when clicking --*/

.accordion-utopia.active .arrow-up {
	display: inline;
}

.accordion-utopia .arrow-up {
	display: none;
}

.accordion-utopia .arrow-down {
	display: inline;
}

.accordion-utopia.active .arrow-down {
	display: none;
}

.arrow-up, .arrow-down {
	width: 10px;
    height: 10px;
	margin-left: 15px !important;
}

.mehr-button {
	padding: 16px 25px;
	border-radius: 50px;
	background-color: white;
	font-size: 12px;
	font-weight: 700;
}

.mehr-button:hover {
	color: red;
	box-shadow: 0 0 0 5px rgba(255,255,255,.2)
}

.mehr-button:visited, .mehr-button:link  {
	color: red;
	text-decoration: none;
}

.hidden-container {
	max-height: 0;
    overflow: hidden; /*Sagt ob der Inhalt innerhalb einer Box abgeschnitten oder mit einer Scrollbox angezeigt werden 				                        soll, wenn nicht der ganze Text in eine Box passt.*/
	transition: max-height 0.8s ease-in-out;
	color: #000;
	line-height: 1.5;
	margin-top: 3%; /*Damit die Details nicht direkt auf Knopf erscheinen.*/
}

.responsiveUn {
  content: "";
  clear: both;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

#procons {
	min-height: 200px;
}

#wrapprocons {
	position: relative;
	background-position: center;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/*---------------------------------Empfehlung Akkordeon-Teil ----------------------------------------------------*/
.quelle, .verst, .kab {
	padding: 0 18px;
	max-height: 0;
    overflow: hidden; /*Sagt ob der Inhalt innerhalb einer Box abgeschnitten oder mit einer Scrollbox angezeigt werden 				                        soll, wenn nicht der ganze Text in eine Box passt.*/
	transition: max-height 0.2s ease-out;
	color: #000;
	line-height: 1.5;
	text-align: left;
}

.quelle {
	    background-color: #94b2e6e3;
}

.verst {
	    background-color: #eaeaeae8;
}

.kab {
	background-color: #ff5e36ed;
}

.accordionq, .accordionv, .accordionk {
    color: #444;
    cursor: pointer;
    padding: 8px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordionq {
    background-color: #94b2e6;
}

.accordionv {
	background-color: #eaeaea;
}

.accordionk {
	background-color: #ff5e36;
}

.accordionq h2, .accordionv h2, .accordionk h2 {
	font-size: 1em;
}

/*--------------- Ende Empfehlung Accordeon -------------------------------------------------------  */

/*Phone Styles*/
@media only screen and (max-width: 400px) {

#logo {
  display: none;
}

#logo-phone {
	display: block;
	float: right;
	font-family: 'Dancing Script', cursive;
	font-size: 120%;
}

nav { 
  margin: 0;
  /*----- um die Navigation nicht fixiert zu lassen auf dem Handy ------ position: static;*/ 
}

.toggle + a, .menu { /*Selects all <a> elements that are placed immediately after toggle class*/
   display: none;
}

.toggle {
  display: block;
  background-color: #282E34;
  padding: 0 20px;
  font-size: 20px;
  color: #FFF;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { 
  background-color: #2F3B44; /*Hover-Effekt hellgrau. Muss man zusätzlich einfügen, sonst gibt es keinen Hover-Effekt                               auf die Toggle Klasse*/
}

nav ul li a:hover {
	background-color: #2F3B44; /*Hover-Effekt hellgrau*/
}

[id^=drop]:checked + ul { /*Selects all <ul> elements that are placed immediately after some (checked) elements that                          begin with the ID "drop". Dieser Befehl ermöglicht das Click-Event! Nachdem die Elemente aus                          der Liste mit einem Check-Mark angeklickt wurden bzw. checked wurden, wechselt der Display von                          "none" zu "block" und die Elemente werden sichtbar! */
  display: block; 
}

nav ul li {
  display: block; /*Braucht man nicht. Funktioniert auch ohne*/
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { 
   padding: 0 40px; 
}

nav ul ul ul a { 
  padding: 0 80px;  /*Macht, dass der innere Abstand innerhalb der <a>-Boxen grösser werden*/
}

/*------------ Nicht so gut bzw. unnötig*/
nav a:hover,
 nav ul ul ul a { 
   background-color: #282E34; 
}

nav ul li ul li .toggle,
 nav ul ul a { 
   background-color: #212121; 
}

/*--------------- */

nav ul ul {
  float: none; /*Braucht es, sonst füllt das zweite Submenü nicht mehr die ganze Seite aus */
  position: static; /*Elements render in order, as they appear in the document flow*/
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { 
  display: none; 
}

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { 
  position: static;
}

.centeredGrande, .centered {
	top: 7rem;
	width: 80%;
}

.hero-title {
	font-size: 1.75rem;
	font-weight: bold;
}

.hero-sub-title {
	font-size: 1rem;
}

.wrap-three /*Damit auf Phone alles untereinander kommt...*/ {
	flex-wrap: wrap;
}

.descr h2/*Special underline for Tablets & Iphones*/ {
	text-decoration: underline;
}

/*---- Produkte ----*/

.products {
	padding: 10px 40px;
}

.p-wrap {
	flex-wrap: wrap;
}

.special p {
	font-size: 1.25em;
}

.high-light /*h3 size of text*/ {
	font-size: 1.25em;
}

.main-container .flex-wrap {
	flex-wrap: wrap;
}

.article-container {
    max-width: 540px;
	margin: auto;
}

.image-flex {
	width: 100%;
}

.wrap-content {
	width: 100%;
	align-self: flex-start;
}

.drin {
	padding: 10% 15%;
}

.botschaft p {
    font-size: 1.25em;
	text-align: center;
}

.count-wrap {
	flex-wrap: wrap;
}

.responsive-first /*Otherwise first image has a too high margin-top*/ {
	margin-top: 0px;
}

section.first{
	padding: 60px 20px;
}

.grande {
	margin-top: 20%;
}

.titel {
	font-size: 1.5em;
}

.responsiveUn {
	width: 100%;
}

#secondwrapprocons {
	width: 100%;
	content: "";
}

}

/*Tablet Styles*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
#logo {
  display: none;
}

#logo-phone {
	display: block;
	float: right;
	font-family: 'Dancing Script', cursive;
	font-size: 120%;
}

nav { 
  margin: 0;
  /*----- um die Navigation nicht fixiert zu lassen auf dem Handy ------ position: static;*/ 
}

.toggle + a, .menu { /*Selects all <a> elements that are placed immediately after toggle class*/
   display: none;
}

.toggle {
  display: block;
  background-color: #282E34;
  padding: 0 20px;
  font-size: 20px;
  color: #FFF;
  line-height: 60px;
  text-decoration: none;
  border: none;
}

.toggle:hover { 
  background-color: #2F3B44; /*Hover-Effekt hellgrau. Muss man zusätzlich einfügen, sonst gibt es keinen Hover-Effekt                               auf die Toggle Klasse*/
}

nav ul li a:hover {
	background-color: #2F3B44; /*Hover-Effekt hellgrau*/
}

[id^=drop]:checked + ul { /*Selects all <ul> elements that are placed immediately after some (checked) elements that                          begin with the ID "drop". Dieser Befehl ermöglicht das Click-Event! Nachdem die Elemente aus                          der Liste mit einem Check-Mark angeklickt wurden bzw. checked wurden, wechselt der Display von                          "none" zu "block" und die Elemente werden sichtbar! */
  display: block; 
}

nav ul li {
  display: block; /*Braucht man nicht. Funktioniert auch ohne*/
  width: 100%;
}

nav ul ul .toggle,
 nav ul ul a { 
   padding: 0 40px; 
}

nav ul ul ul a { 
  padding: 0 80px;  /*Macht, dass der innere Abstand innerhalb der <a>-Boxen grösser werden*/
}

/*------------ Nicht so gut bzw. unnötig*/
nav a:hover,
 nav ul ul ul a { 
   background-color: #282E34; 
}

nav ul li ul li .toggle,
 nav ul ul a { 
   background-color: #212121; 
}

/*--------------- */

nav ul ul {
  float: none; /*Braucht es, sonst füllt das zweite Submenü nicht mehr die ganze Seite aus */
  position: static; /*Elements render in order, as they appear in the document flow*/
  color: #ffffff;
}

nav ul ul li:hover > ul,
nav ul li:hover > ul { 
  display: none; 
}

nav ul ul li {
  display: block;
  width: 100%;
}

nav ul ul ul li { 
  position: static;
}

.centeredGrande, .centered {
	top: 11rem;
	width: 75%;
}

.hero-title {
	font-size: 2.75rem;
	font-weight: bold;
}

.hero-sub-title {
	font-size: 1.5rem;
}

.wrap-three /*Damit auf Phone alles untereinander kommt...*/ {
	flex-wrap: wrap;
}

.descr h2/*Special underline for Tablets & Iphones*/ {
	text-decoration: underline;
}

/*---- Produkte ----*/

.products {
	padding: 10px 40px;
}

.p-wrap {
	flex-wrap: wrap;
}

.special p {
	font-size: 1.5em;
}

.highlight /*h3 size of text*/ {
	font-size: 1.5em;
}

.main-container .flex-wrap {
	flex-wrap: wrap;
}

.article-container {
    max-width: 540px;
	margin: auto;
}

.image-flex {
	width: 100%;
}

.wrap-content {
	width: 100%;
	align-self: flex-start;
}

.drin {
	padding: 10% 15%;
}

.botschaft p {
    font-size: 1.5em;
	text-align: center;
}

section.first{
	padding: 50px 40px;
}

.grande {
	margin-top: 10%;
}

.titel {
	font-size: 20px;
}

.responsiveUn {
	width: 75%;
}

#procons {
	padding: 27px 0;
	margin-top: 10%;
}

#secondwrapprocons {
	width: 100%;
}

}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	
.toggle {
 display: none;
}

#logo {
	display: block;
}

nav ul li ul li:hover { 
	background: #CCC; /*Macht, dass wenn man auf ein Untermenü fährt, dass die Hover Farbe sich ändert. Hier ist die                        Farbe grau. Könnte auch background-color schreiben...*/
}

nav a:hover { 
	background-color: #2F3B44;
 }
 
/*---- Index ----*/
 
.centeredGrande, .centered {
	top: 14rem;
}
 
.hero-title {
	font-size: 3.5rem;
	font-weight: bold;
}

.hero-sub-title {
	font-size: 1.5rem;
}

.responsive /*Special for desktop: Bilder in Section first stay rather small to match on one single line*/ {
	width: 29.99999%;
}

/*---- Produkte ----*/

.products {
	padding: 90px 80px;
}

.product-article {
	padding: 40px 70px;
}

.special p {
	font-size: 1.5em;
}

.highlight /*h3 size of text*/ {
	font-size: 1.5em;
}

.p-wrap > div {
	width: 50%;
}

.botschaft p {
    font-size: 1.75em;
	text-align: center;
}

section.first {
	padding: 90px 80px;
}

.grande {
	margin-top: 10%;
}

.titel {
	font-size: 25px;
}

.responsiveUn {
	width: 50%;
}

#procons {
	padding: 90px 80px;
}

#secondwrapprocons {
	width: 33.32%;
}
 
}




.pimg1, .pimg2 { /*Parallay Images, damit Bilder geil von unten auftauchen*/
	position: relative;
	opacity: 1;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
} 

.pimg1 {
	background-image: url(../images/ShowRoom/ShowRoom%20Audiophil-dreams%206.JPG);
	min-height: 900px;

}

.pimg2 {
	background-image: url(../images/ExxeptionAudio/ExxeptionAudio%20Modell%2025/Davis%20Exxeption%2025%20the%20End.JPG);
	min-height: 900px;

}

.pimg3 {
	background-image: url(../images/ExxeptionAudio/ExxeptionAudio%20DAC%20Ultimate/ExxeptionAudio%20DAC%20Offen.JPG);
	min-height: 900px;

}

.pimg4 {
	background-image: url(../images/Focal/Focal%20Sopra%202/Focal%20Sopra%202%20rot.JPG);
	min-height: 900px;

}

.pimg5 {
	background-image: url(../images/Focal/Focal%20Viva%20Utopia%20EVO%20Color/Focal%20Viva%20Utopia%20jadore.JPG);
	min-height: 900px;

}

.pimg6 {
	background-image: url(../images/Focal/Focal%20Maestro%20Utopia%20EVO/Focal%20Maestro%20Utopia%20EVO%20Weiss%20Innenraum.JPG);
	min-height: 900px;

}

.pimg7 {
	background-image: url(../images/Focal/Focal%20Grande%20Utopia%20EVO/Focal%20Grande%20Utopia%20Hintere%20Panel.JPG);
	min-height: 900px;

}

.pimg8 {
	background-image: url(../images/Focal/Focal%20Stella%20Utopia%20EVO/Focal%20Stella%20EVO%20blau%20im%20Haus.JPG);
	min-height: 800px;

}

.pimg9 {
	background-image: url(../images/Focal/Focal%20Scala%20Utopia%20EVO/Focal%20Scala%20EVO%20von%20Oben.JPG);
	min-height: 700px;

}

.pimg10 {
	background-image: url(../images/Devialet%20Expert/Devialet%201000Pro/Devialet%20Expert%201000%20Pro%20Detail.JPG);
	min-height: 700px;

}

.pimg11 {
	background-image: url(../images/Devialet%20Expert/Devialet%20220Pro/Devialet%20Expert%20220%20Pro%20Oben%202.JPG);
	min-height: 700px;

}

.pimg12 {
	background-image: url(../images/Devialet%20Expert/Devialet%20140Pro/Devialet%20Expert%20140%20Pro%20Oben%203.JPG);
	min-height: 700px;

}

.pimg13 {
	background-image: url(../images/Naim/NDX2/Naim%20NDX2%20Oben.JPG);
	min-height: 800px;

}

.pimg14 {
	background-image: url(../images/Davis%20Acoustics/Balthus%2050/Davis%20Acoustics%20Balthus%2050%20von%20Oben.JPG);
	min-height: 700px;

}

.pimg15 {
	background-image: url(../images/Davis%20Acoustics/Balthus%2070/Davis%20Acoustics%20Balthus%2070%20von%20Oben.JPG);
	min-height: 700px;

}

.pimg16 {
	background-image: url(../images/Davis%20Acoustics/Balthus%2090/Davis%20Acoustics%20Balthus%2090%20Zwei.JPG);
	min-height: 700px;

}


.pimg17 {
	background-image: url(../images/Davis%20Acoustics/Nikita%2030/Davis%20Acoustics%20Nikita%203%20vs%20Focal%20Sopra%202.JPG);
	min-height: 1150px;

}

.pimg18 {
	background-image: url(../images/Atoll%20Electronique/In100SE/Atoll%20IN300SE%20Innenleben.JPG);
	min-height: 700px;

}

.pimg19 {
	background-image: url(../images/B&W/B&W800D3/B&W800D3%20von%20Oben.JPG);
	min-height: 700px;

}  

.pimg20 {
	background-image: url(../images/B&W/B&W804D3/B&W804D3%20von%20Oben.JPG);
	min-height: 700px;

}  

.pimg21 {
	background-image: url(../images/B&W/B&W803D3/B&W803D3%20Foto%205.JPG);
	min-height: 700px;

}  

.pimg22 {
	background-image: url(../images/B&W/B&W802D3/B&W802D3%20Diamond%20Hochtoener.JPG);
	min-height: 700px;

}  

.pimg23 {
	background-image: url(../images/Accuphase/E-370/Accuphase%20E-370%20Frontplatte%20img1500.JPG);
	min-height: 700px;

}

.pimg24 {
	background-image: url(../images/Accuphase/E-650/Accuphase%20E-650%20Innenleben%202%201500.JPG);
	min-height: 1200px;

}  

.pimg25 {
	background-image: url(../images/Accuphase/DC-950/Accuphase%20DC-950%20Vorne.JPG);
	min-height: 1000px;

}

.pimg26 {
	background-image: url(../images/Bluesound/Powernode%202i/Bluesound%20Powernode%202i%20von%20Oben.JPG);
	min-height: 850px;

}

.pimg27 {
	background-image: url(../images/Naim/ND5XS2/Naim%20ND5-XS2.JPG);
	min-height: 700px;

}
/*arrow
------------------------------------------- */
.arrow {
	text-align: center;
	color: white;
	font-size: 5em; /*!!! Einfügen eines kleineren font-size bei media-querries!*/
	left: 90%;
	position: absolute;
	top: 55%;
	}

.arrow a {
	text-decoration: none;
}	
	
.arrow a:hover {
	transition: .5s;
    color: #F00;
}

/*-----------------Ende arrow ----------------------*/

/*----------Beginn 3er Bilder-Gallerie mit Kommentar unter den Bildern------------------------*/
.wrapGallery {
  content: "";
  clear: both;
  display: table;
}

.responsiveDeux {
    padding: 0 6px;
    float: left;
}

.responsiveDeux {
	width: 45%;
	margin-top: 5%;
	margin-left: 50px;
}

div.galleryDeux img {
    width: 100%;
    height: auto;
}

/*------Ende 3er Bilder-Gallerie ----------------------*/

/* section.desc {
    padding: 15px;
    text-align: center;
} */

/*---------- Ende Section Index ------------------------------------------------------- */

/*------------------Start Section Produkte----------------------------------------------*/


div.maintitel h1 {
	font-size: 30px;
	font-weight: bold;
	}

img.prod {
	max-width: 100%;
	margin-top: 10%;
}

#column > p:first-child {
  margin-top: 0;
} /*Braucht man, sonst ist die zweite Spalte einfach "zu hoch oben" xD  */


/*---------------------------------Number Counter-----------------------------------------------------------------*/
#countWrap{
	background-image:url(../images/ExxeptionAudio%20Sonos+%20Anschluesse.JPG);
	width: 100%;
	opacity: 0.7;
	background: no-repeat;
}



/*---------------------------------Ende Number Counter-----------------------------------------------------------*/

/*--------------Letzter Abschnitt mit technische Details-----------------------*/

#last {
	min-width: 50%;
	font-size: 1.5em;
	color: white;
    text-align: center;
    padding: 30px;
}

/*--------------Footer-----------------------------------------------------------------*/
.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #033;
  overflow: hidden;
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.adresseWrap {
	max-width: 500px;
	width: 100%;
	float: left;
	margin-top: 50px;
}

.adresseUn {
	background: #F9F9F9;
	padding: 12px 10px;
}

.adresseUn h2 {
	text-transform: uppercase;
	text-align: left;
	margin: 10px;
}

.adresseUn p {
	text-align: left;
	margin: 10px;
	line-height: 1.5;
}

#maps {
	margin-top: 7%;
	overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

#maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.footcontainer {
	max-width: 400px;
	width: 100%;
	float: right;
	margin-top: 50px;
	margin: 0 auto;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
.first .titel h2 {
	font-family: Verdana, Geneva, sans-serif;
}
.first #rcolumn p {
	font-family: Verdana, Geneva, sans-serif;
}
